body {
	font-family: "Courier New", Courier, monospace;
	color: white;
	margin: 0px;

	--red: rgb(255, 120, 120);
}

/* main */

.page-bg {
	z-index: -1;
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0px;

	background: linear-gradient(0deg, #251519, #1c1f25);
}

button {
	padding: 10px;
	border-radius: 4px;
	color: white;
	font-family: "Courier New", Courier, monospace;
	background-color: rgb(20, 20, 20);
	border: none;
	transition: 0.05s linear;
}

button:hover {
	background-color: rgb(185, 88, 88);
	transition: 0.05s linear;
}

button:active {
	background-color: rgb(199, 46, 46);
	transition: 0.05s linear;
}

/* misc */

.blue {
	color: rgb(120, 120, 240);
}

.highlight {
	color: rgb(240, 120, 120);
}

/* scrollbar */
:root {
	scrollbar-color: #0a0a0a rgb(48, 48, 49) !important;
}

::-webkit-scrollbar {
	width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #0a0a0a;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: rgb(48, 48, 49);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: rgb(48, 48, 49);
}
