header {
	margin: 10px;
	padding: 15px;
	box-shadow: 0px 0px 15px var(--shadow);

	margin-bottom: 10px;

	border-width: 1px;
	border-color: var(--border);
	border-style: solid;
}

.space {
	width: 10px;
	height: 1px;
	display: inline-block;
}

.page-content {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(min(600px, 100%), 1fr));
}

.info-canvas {
	height: 0px;
	transition: all 0.2s cubic-bezier(0.46, 0.03, 0.52, 0.96) 0s;
}

.info-canvas-holder {
	border-radius: 3px;
	background-color: var(--button-bg);
	max-width: calc(100vw - 50px);
	display: grid;
}

.info-header {
	padding-left: 10px;
	padding-right: 10px;
}
