footer {
	position: fixed;
	width: 100vw;
	height: 16px;
	padding: 32px;
	bottom: 0;

	box-shadow: 0px 0px 15px var(--shadow);
	background-color: rgba(255, 255, 255, 0.034);
}

main {
	margin: 12px;
}

input {
	width: min-content;
}

h1 {
	word-wrap: break-word;
}

.shitty-center {
	position: fixed;
	display: grid;
	top: 0px;

	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100%;
}

.login-form {
	display: grid;
	align-items: center;
	justify-self: center;
}

.tip {
	padding: 10px;
	padding-top: 5px;
}
